/* css reset  */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  max-width: 1200px;
  margin: auto;
  background-color: #f1f1f3;
}
/* utiltiy class  */
.site-title {
  margin: 20px 0px;
  padding: 20px 0px;
}
.gray {
  color: gray;
  margin: 20px 0px;
  padding: 20px 0px;
}
/* nav section start  */
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding: 10px 0px;
  margin: 5px 0px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
nav ul button {
  padding: 7px 15px;
  border: 1px solid #006a50;
  background: white;
  border-radius: 5px;
  color: #006a50;
  font-weight: bold;
}
nav ul button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
/* nav section end  */
/* hero section start  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #c6e4d6;
  border-radius: 7px;
}
.bangladesh-discription p {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
.bangladesh-discription h2 {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}
.site-btn {
  color: white;
  background: #006a50;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 10px;
}
.site-btn:hover {
  background-color: black;
}
.bangladesh-img {
  padding: 10px;
  margin: 15px;
}
/* hero section end  */
/* pillars section start  */
.pillars-section {
  display: flex;
}
.pillars-card {
  width: 25%;
  /* height: 244px; */
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

/* pillars section end  */
/* visions section start  */
.vision-card {
  width: 33%;
}
.vision-card button {
  padding: 7px 15px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 7px;
}

#card1 {
  background-color: rgba(169, 193, 235, 0.4);
}
#card1 button {
  background-color: #5490f5;
}
#card2 {
  background-color: rgba(9, 161, 92, 0.2);
}
#card2 button {
  background: #006a50;
}
#card3 {
  background-color: rgba(255, 194, 57, 0.2);
}
#card3 button {
  background: #ffc239;
}

#card1 button:hover {
  background-color: #000;
}
#card2 button:hover {
  background-color: #000;
}
#card3 button:hover {
  background-color: #000;
}
/* visions section end */
