/* css reset  */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  max-width: 1100px;
  margin: auto;
  background-color: #f1f1f3;
}
/* utiltiy class  */
.site-title {
  margin: 20px 0px;
  padding: 20px 0px;
}
.gray {
  color: gray;
  margin: 10px 0px;
  padding: 10px 0px;
}
.center {
  text-align: center;
}
/* nav section start  */
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding: 10px 0px;
  margin: 5px 0px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
nav ul button {
  padding: 7px 15px;
  border: 1px solid #006a50;
  background: white;
  border-radius: 5px;
  color: #006a50;
  font-weight: bold;
}
nav ul button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
/* nav section end  */
/* hero section start  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #c6e4d6;
  border-radius: 7px;
}
.bangladesh-discription p {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
.bangladesh-discription h2 {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}
.site-btn {
  color: white;
  background: #006a50;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 10px;
}
.site-btn:hover {
  background-color: black;
}
.bangladesh-img {
  padding: 10px;
  margin: 15px;
}
/* hero section end  */
/* pillars section start  */
.pillars-section {
  display: flex;
}
.pillars-card {
  width: 25%;
  /* height: 244px; */
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

/* pillars section end  */
/* visions section start  */
.vision-card {
  width: 33%;
}
.vision-card button {
  padding: 7px 15px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 7px;
}

#card1 {
  background-color: rgba(169, 193, 235, 0.4);
}
#card1 button {
  background-color: #5490f5;
}
#card2 {
  background-color: rgba(9, 161, 92, 0.2);
}
#card2 button {
  background: #006a50;
}
#card3 {
  background-color: rgba(255, 194, 57, 0.2);
}
#card3 button {
  background: #ffc239;
}

#card1 button:hover {
  background-color: #000;
}
#card2 button:hover {
  background-color: #000;
}
#card3 button:hover {
  background-color: #000;
}
/* visions section end */
/* famouse sppece section start here  */
.spaece-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.speace-title {
  /* padding: 10px; */
  background: url("./assets/quote-bg.png") no-repeat;
}
.spaece-container p {
  margin: 5px;
  padding: 5px;
}
#youns,
.spaece-container h3 {
  color: gray;
  padding: 5px;
}
/* famouse sppece section end here  */
/* opinion-section start here  */
table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}
table tr th {
  background-color: #c6e4d6;
  width: 100%;
  padding: 10px;
}
table tr td {
  padding: 10px;
}
/* table,
th,
td {
  border: 1px solid red;
} */
.table-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}
td {
  border: 1px solid black;
  width: 12%;
}
.width {
  width: 88%;
  height: 40.5px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.border {
  border: 2px solid red;
}
#option {
  padding: 10px;
  background-color: #c6e4d6;
}

/* opinion-section end here  */
/* resent new section start here  */
.recent-news {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.news-card-discription {
  padding: 20px;
  line-height: 43px;
}
.news-card-discription button {
  padding: 6px 15px;
  background-color: #006a50;
  color: white;
  border-radius: 7px;
  border: none;
}
.recent-news2 {
  flex-direction: row-reverse;
}
/* resent new section  end here  */

/* donet section start here  */
.donet-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 10px;
}
.donet-card {
  width: 15%;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  padding: 30px;
}
#donet-card-bg {
  background: #c6e4d6;
}
input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
  border: none;
}
.donet-btn {
  margin: auto;
  display: block;
  padding: 10px 25px;
  margin-bottom: 10px;
  background-color: #006a50;
  border: none;
  color: white;
  border-radius: 7px;
}
/* donet section end here  */
/* footer section start here  */
.footer-item {
  line-height: 30px;
}
#newslater {
  display: flex;
  align-items: center;
  justify-content: center;
}
#newslater input {
  padding: 10px 25px;
  border: none;
  width: 50%;
  margin-bottom: 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#newslater button {
  background: #006a50;
  padding: 10px 25px;
  color: white;
  border: none;
  margin-bottom: 5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#newslater button:hover {
  transform: scale(1.2);
  background: #000;
  transition: all ease;
}
.fixed {
  justify-content: center;
  gap: 20px;
}
.fixed li:hover {
  transform: scale(1.4);

  transition: all ease;
}

/* footer section end here  */
